{% from "macros/ga.html" import render_ga_tag %}
<!DOCTYPE HTML>
<html>
  <head>
    <title>{% block title %}{{ this.title  }}{% endblock %}</title>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1, user-scalable=no" />
    <link rel="icon" href="{{ '/static/img/favicon.ico'|url }}" type="image/x-icon" />
    <link rel="shortcut icon" href="{{ '/static/img/favicon.ico'|url }}" type="image/x-icon" />
    <link rel="stylesheet" href="{{ '/static/css/main.css'|url }}" />
    {% if envvars('GA') %}
      {{ render_ga_tag(envvars('GA')) }}
    {% endif %}
  </head>
  <body class="homepage is-preload">
    <div id="page-wrapper">

      <!-- Header -->
      <section id="header" class="wrapper">

        <!-- Logo -->
        <div id="logo">
          <h1><a href="{{ site.get('/')|url }}">{{ bag('common', 'site_title') }}</a></h1>
          <p>{{ bag('common', 'headline') }}</p>
        </div>

      </section>

      {% block content %}{% endblock %}

      <section id="footer" class="wrapper">
        <div id="copyright">
          <ul>
            <li>&copy; Untitled.</li>
            <li>Made with: <a href="https://www.getlektor.com">Lektor</a> and <span>🍻</span></li>
            <li>Design: <a href="https://html5up.net">HTML5 UP</a></li>
          </ul>
        </div>
      </section>

    </div>

    <!-- Scripts -->
    <script src="{{ '/static/js/jquery.min.js'|url }}"></script>
    <script src="{{ '/static/js/jquery.dropotron.min.js'|url }}"></script>
    <script src="{{ '/static/js/browser.min.js'|url }}"></script>
    <script src="{{ '/static/js/breakpoints.min.js'|url }}"></script>
    <script src="{{ '/static/js/util.js'|url }}"></script>
    <script src="{{ '/static/js/main.js'|url }}"></script>

  </body>
</html>
