{% extends "base.html" %}
{% block title %}{{ this.title }}{% endblock %}
{% block content %}
<div class="section">
  <div class="container">
    <div class="row py-5">
      <div class="col-12">
        <div class="text-center">
          <h1>{{ this.title }}</h1>
          <p>{{ this.body }}</p>
        </div>
        <form action="{{ bag('env', 'formsubmit_url') }}" method="POST">
          <div class="form-group">
            <div class="form-row">
              <div class="col-md-6 pt-3">
                <input type="text" name="name" class="form-control" placeholder="Nome" required>
              </div>
              <div class="col-md-6 pt-3">
                <input type="email" name="email" class="form-control" placeholder="E-mail" required>
              </div>
            </div>
          </div>
          <div class="form-group">
            <textarea placeholder="Mensagem" class="form-control" name="message" rows="14" required></textarea>
            <input type="hidden" name="_next" value="{{ site.get('/contact')|url(external=True) }}">
            <input type="hidden" name="_subject" value="New from contact-page">
            <input type="hidden" name="_replyto">
            <input type="text" name="_honey" style="display:none">
          </div>
          <button type="submit" class="btn btn-lg btn-dark btn-block">Enviar</button>
        </form>
      </div>
    </div>
  </div>
</div>
{% endblock %}
