{% extends "base.html" %}
{% block content %}
<section id="intro" class="wrapper style1">
  <div class="title">{{ this.subtitle }}</div>
  <div class="container">
    <div class="intro-wrapper">
      {{ this.body }}
    </div>
    <ul class="actions">
      {% if bag('social', 'twitter') %}
      <li><a href="{{ bag('social', 'twitter')|e }}" rel="nofollow" title="Siga no twitter" class="button style3 large"><i class="fab fa-fw fa-twitter"></i> Twitter</a></li>
      {% endif %}
      {% if bag('social', 'telegram') %}
      <li><a href="{{ bag('social', 'telegram')|e }}" rel="nofollow" title="Entre no telegram" class="button style3 large"><i class="fa fa-fw fa-paper-plane"></i> Telegram</a></li>
      {% endif %}

    </ul>
  </div>
</section>
{% endblock %}
